html {
    background: #d9edf7;
}
h3 {
    font-size: 20px !important;
}
.btn {   
    line-height: 24px;
    padding: 18px 18px;
    white-space: normal;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -webkit-transition-duration: .1s;
    -moz-transition-duration: .1s;
    -o-transition-duration: .1s
}
.btn:hover {
    text-shadow: 0 3px 2px rgba(0,0,0,0.4);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1)
}
.btn-block {
    text-align: left;
    position: relative
}
.btn-label {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    padding: 0 10px;
    background: rgba(0,0,0,0.15);
    height: 100%
}
.modal-header {
    background-color: transparent;
    color: inherit
}
.modal-footer {
    border-top: 0px !important;     
    border-bottom: 1px solid #e5e5e5 !important;
}
.modal-footer .btn, 
#submit {
    padding: 7px 3px;
    margin-top: 0;   
    width: 25%;
}
.selected {    
    background-color: #286090;
    border-color: #122b40;    
    text-shadow: 0 3px 2px rgba(0,0,0,0.5);
    font-size: 20px;
    line-height: 24px;
    -webkit-box-shadow: inset 5px 5px 15px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 5px 5px 15px 0px rgba(0,0,0,0.7);
    box-shadow: inset 5px 5px 15px 0px rgba(0,0,0,0.7)
}
#leftBtn, 
#rightBtn, 
{
    text-align: center;    
}
#leftBtn
{
    float: left;
    clear: left;
}
#rightBtn 
{
    float: right;
    clear: right;
    margin-top: 0 !important;
}
.wrong {
    color: red;
}
#result_table {
    overflow: auto;
}
#results {
    font-weight: 600;    
}
#submit_results input {
    margin-bottom: 10px;
}
#saved_results {
    width: 40%;
}