<!DOCTYPE html>
<html lang="en" ng-app="QuizApp">

<head>
	<meta charset="UTF-8">
    <title>Very Interesting Quiz</title>
    <script src="jslib/angular.min.js"></script>    
    <script src="app/app.js"></script>
    <script src="app/controllers/quizController.js"></script>
    <script src="app/controllers/dataController.js"></script>
    <script src="app/controllers/buttonController.js"></script>    
    <script src="app/services/ajaxService.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous">
</head>

<body ng-controller="quizController as vm">
	<div class="container-fluid bg-info" ng-controller='dataController'>
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header"">
	                <h3>
	                   {{header}}
	                </h3>
	            </div>

	            <div
		            class="modal-footer" 
		            ng-if="!quizStage==''" 
		            ng-controller="buttonController">
	                <div 
	                	id="leftBtn" 
		                ng-if="questionIndex != 0" 
		                ng-click="btnAction('left')" 
		                class="btn btn-lg btn-primary btn-block">
		                {{leftBtn}}
	                </div>
	                <div 
		                id="rightBtn"
		                ng-click="btnAction('right')" 
		                class="btn btn-lg btn-primary btn-block">
	                    {{rightBtn}}
	                </div>
	            </div>

	            <div class="modal-body">

	                <div id="select_quiz" ng-if="quizStage==''">
	                    <div 
		                    ng-click='getQuizData("quiz_a"); quizName("Quiz A")' 
		                    class="btn btn-lg btn-primary btn-block">
		                    Quiz A
	                    </div>
	                    <div 
		                    ng-click='getQuizData("quiz_b"); quizName("Quiz B")' 
		                    class="btn btn-lg btn-primary btn-block">
		                    Quiz B
	                    </div>
	                </div>

	                <div id="answers" ng-if="quizStage=='inProgress'">
	                    <div 
	                    	style="white-space: pre-line;"
		                    ng-class="{'selected':$index===selectedAnswers[questionIndex]}"
			                ng-click='selectAnswer($index)' 
			                ng-repeat="answer in quizData[questionIndex].answer" 
			                class="answer btn btn-lg btn-primary btn-block">{{answer}}
	                    </div>
	                </div>

	                <div 
	                id="result_table" 
	                ng-if="quizStage=='showResult'">
	                	<div ng-repeat="i in evaluatedResult.evaluatedUserData ">
	                		<b>You answered {{i.correctAnswerCount}}
	                		out of {{i.quizLength}}
	                		correctly and collected {{i.pointsCollected}} 
	                		points out of {{i.pointsMax}}.
	                		</b>
	                	</div>
	                	<hr>
		                <div ng-repeat='i in evaluatedResult.evaluatedUserAnswers'>
		                	Question: {{i.question}} <br>
		                	User Answer: <span class="wrong">{{i.userAnswer}}</span><br>
		                	Correct Answer: {{i.correctAnswer}} <br>
		                	Value: {{i.value}} pts. <br>
		                	<hr>
		                </div>
	                </div>

	                <div ng-if="quizStage == 'showSavedResults'">
	                	<div ng-repeat="i in savedResults | 	orderBy:'-'">
	                		{{i.userName}} 
	                		answered 
	                		{{i.correctAnswerCount}} 
	                		answers correctly out of 
	                		{{i.quizLength}} 
	                		and collected 
	                		{{i.pointsCollected}} 
	                		out of 
	                		{{i.pointsMax}}
	                		on 
	                		{{i.quizName}}.
	                		<hr>
	                	</div>
	                </div>

	                <form id="submit_results" ng-if="quizStage =='saveResult'">
	                    <label for="name">Enter your name:</label>
	                    <input
	                    	placeholder ="Example: Memento Mori"
		                    type="text" 
		                    class="form-control" 
		                    id="name"
		                  	ng-model="$root.userName"/>
	                    <div	                    	
	                    	id="submit"
		                    class="btn btn-lg btn-primary btn-block"
		                    ng-click="saveResult()"/>
		                    Submit
	                    </div>	                    
	                </form>
	            </div>
	        </div>
	    </div>
	</div>
</body>

</html>
